@import '../../assets/css/pattern.css';

.buttonGreenLight{
    margin-top: 1em;
    width: 8.5em;
    height: 2.5em;
    border-radius: var(--borderRadius);
    background: transparent;
    border: 1px solid var(--greenDark);
    color: var(--greenDark);
}

@media screen and (max-width: 375px){
    .buttonGreenLight{
        margin-top: 1em;
        margin-bottom: 1em;
        width: 11em;
        height: 2.5em;
        border-radius: var(--borderRadius);
        background: transparent;
        border: 1px solid var(--greenDark);
        color: var(--greenDark);
    }
}