@import '../../assets/css/pattern.css';

.ButtonGreenDark{
    margin-top: 1em;
    border: none;
    width: 8.5em;
    height: 2.5em;
    border-radius: var(--borderRadius);
    background: var(--greenDark);
    color: #fff;
}