@import '../../assets/css/pattern.css';
.text__queston1{
    font-family: var(--fontFamily);
    font-weight: var(--fontLight);
    font-size: 2em;
    color: var(--grayText);
}

.buttons_question1{
    display: flex;
    justify-content: space-between;
}

span{
    font-weight: var(--fontBold);
}

.logo_responsive{
    display: none;
}

.button_div{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}



@media screen and (max-width: 375px){
    .logo{
        display: block;
        max-width: 50% !important;
        margin: 2em auto auto auto !important;
        display: flex;
    }

    .button_div{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
}